services:
  # CAPA 3: Base de Datos
  database:
    image: redis:alpine
    container_name: stock-db
    ports:
      - "6379:6379"

  # CAPA 2: Lógica de Negocio (Backend)
  # Este es el componente que moverás con vMotion
  backend:
    image: python:3.9-slim
    container_name: stock-backend
    environment:
      - PYTHONDONTWRITEBYTECODE=1  # Evita errores de permisos en caché
    depends_on:
      - database
    volumes:
      - ./app:/app:z
    working_dir: /app
    # Forzamos que el script sea ejecutable Instalamos las librerías y luego lanzamos el script
    command: >
      sh -c "pip install redis flask flask-cors && python backend.py"
    ports:
      - "5000:5000"

  # CAPA 1: Frontend
  frontend:
    image: nginx:alpine
    container_name: stock-frontend
    ports:
      - "8080:80"
    volumes:
      - ./app:/usr/share/nginx/html
